.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}
@media(max-width: 479px) {
  .question1-text {
    text-align: left;
  }
}

.terra-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.terra-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.terra-logo {
  color: #ffffff;
}
.terra-container01 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
  background-color: #D9D9D9;
}
.terra-buttons {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-custom-neutral-dark);
}
.terra-navlink {
  text-decoration: none;
}
.terra-register {
  text-decoration: none;
}
.terra-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.terra-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: flex-start;
  justify-content: center;
}
.terra-container02 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.terra-hero-heading {
  color: #ffffff;
  max-width: 800px;
  text-align: center;
}
.terra-text03 {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.terra-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.terra-btn-group {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.terra-hero-button1 {
  text-decoration: none;
}
.terra-hero-button2 {
  text-decoration: none;
}
.terra-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terra-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.terra-image {
  width: 200px;
  object-fit: cover;
}
.terra-container04 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.terra-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.terra-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.terra-container05 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.terra-banner {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terra-banner1 {
  height: 308px;
}
.terra-banner-heading {
  color: #ffffff;
  text-align: center;
}
.terra-text25 {
  color: rgb(194, 194, 194);
  text-align: center;
}
.terra-banner-button {
  text-decoration: none;
}
.terra-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terra-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.terra-container06 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.terra-text35 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.terra-text36 {
  text-align: left;
}
.terra-container07 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.terra-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.terra-container08 {
  gap: var(--dl-space-space-unit);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.terra-logo1 {
  color: #ffffff;
}
.terra-nav {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.terra-nav1 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-decoration: none;
}
.terra-nav11 {
  color: rgb(255, 255, 255);
  margin-left: 0px;
  text-decoration: none;
}
.terra-nav5 {
  color: #ffffff;
  margin-left: 0px;
  text-decoration: none;
}
.terra-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.terra-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.terra-text43 {
  color: #ffffff;
}
.terra-icon-group {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .terra-container {
    background-color: #161616;
  }
  .terra-navbar-interactive {
    position: relative;
  }
  .terra-buttons {
    gap: var(--dl-space-space-unit);
    flex: 0;
    flex-direction: row;
    justify-content: center;
  }
  .terra-navlink {
    padding-right: 1rem;
  }
  .terra-hero1 {
    height: 364px;
    align-items: flex-start;
    flex-direction: row;
  }
  .terra-container02 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .terra-hero-heading {
    height: 57px;
    text-align: center;
  }
  .terra-text03 {
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: capitalize;
  }
  .terra-image {
    width: 99px;
    height: 99px;
  }
  .terra-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .terra-banner1 {
    height: 350px;
  }
  .terra-banner-heading {
    color: #ffffff;
    width: 95%;
    font-size: 35px;
    font-family: Hind;
    line-height: 150%;
  }
  .terra-text22 {
    font-weight: 900;
  }
  .terra-text25 {
    color: rgb(194, 194, 194);
    text-align: center;
  }
  .terra-text36 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .terra-logo1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
  }
  .terra-nav {
    gap: var(--dl-space-space-unit);
    justify-content: center;
  }
  .terra-nav1 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .terra-nav11 {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  .terra-nav5 {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
  }
}
@media(max-width: 767px) {
  .terra-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .terra-desktop-menu {
    display: none;
  }
  .terra-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .terra-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .terra-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .terra-container05 {
    grid-template-columns: 1fr;
  }
  .terra-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .terra-faq1 {
    flex-direction: column;
  }
  .terra-container06 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .terra-text36 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .terra-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .terra-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .terra-container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .terra-text43 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .terra-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .terra-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .terra-container02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .terra-btn-group {
    flex-direction: column;
  }
  .terra-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .terra-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .terra-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .terra-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .terra-container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .terra-text43 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
